{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="content-container container-fluid">
    <div class="row">
    	{% if page.header.layout == '3columns' %}
    		<div class="content layout3">
            {% for image in page.media.images %}
	        	<div class="col-xs-12 col-md-6 col-lg-4 picture">
	            	<a href="{{ image.url|lower }}"><img alt="image" src="{{ image.resize(600, 600).url }}"/></a>
	        	</div>
            {% endfor %}
        	</div>
        {% else %}
    		<div class="content layout1">
        	{% for image in page.media.images %}
	        	<div class="col-xs-12 picture">
	            	<a href="{{ image.url|lower }}" title=""><img src="{{ image.url }}"/></a>
	        	</div>
            {% endfor %}
        	</div>
        {% endif %}
    </div>
</div>
{% endblock %}
