{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 content home">
            {{ page.content }}
        </div>
    </div>
</div>
{% endblock %}